*{
    box-sizing: border-box;
}

body{
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3em;
    font-weight: 700;
}

.frecuency0{
    background-color: rgb(21, 119, 34);
}

.frecuency1{
    background-color: rgb(143, 179, 13);
}

.frecuency2{
    background-color: rgb(255, 31, 31);
}

.vegetables{
    background-color: rgba(8, 165, 8, 0.603);
}

.fruits{
    background-color: rgba(219, 223, 10, 0.603);
}

.cereal1{
    background-color: rgba(243, 115, 30, 0.685);
}

.cereal2{
    background-color: rgb(248, 149, 35);
}

.legume{
    background-color: rgba(17, 4, 4, 0.603);
}

.animalA{
    background-color: rgba(165, 8, 8, 0.603);
}

.animalB{
    background-color: rgba(165, 8, 8, 0.726);
}

.animalC{
    background-color: rgba(165, 8, 8, 0.911);
}

.animalD{
    background-color: rgb(165, 8, 8);
}

.milkA{
    background-color: rgba(55, 8, 165, 0.603);
}

.milkB{
    background-color: rgba(55, 8, 165, 0.726);
}

.milkC{
    background-color: rgba(55, 8, 165, 0.911);
}

.milkD{
    background-color: rgb(45, 10, 128);
}

.gras1{
    background-color: rgba(141, 223, 10, 0.719);
}

.gras2{
    background-color: rgb(141, 223, 10);
}

.sugar1{
    background-color: rgba(165, 8, 157, 0.603);
}

.top-sheduler{
    width: 100vw;
    height: 118px;
    background-color: rgb(212, 243, 233);
}

.container-settings{
    height:45px;
    display: flex;
    justify-content: space-around;
}

.container-day{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.lbl-config{
    text-align: center;
    font-family: 'Anton', sans-serif;
    text-transform: capitalize;
}

.switch{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.on{
    background-color: rgba(9, 119, 79, 0.438);
    transition: 1s;
} 

.off{
    background-color: rgb(140, 141, 141);
} 

.lbl-opt{
    width: 20px;
    height: 20px;
    border-radius: 50%;
} 

.on>.lbl-opt{
    margin-left: auto;
    background-color: rgb(3, 112, 70);
    box-shadow: 1px 1px 2px 1px rgba(68, 68, 68, 0.445);
} 

.off>.lbl-opt{
    margin-right: auto;
    background-color: rgb(212, 221, 218);
    box-shadow: -1px 1px 2px 1px rgba(68, 68, 68, 0.445);
} 

.portions-meal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-counter{
    display: none;
}

.visible{
    display: block;
}

.lbl-counter{
    margin: 0 auto;
    text-align: center;
}

.counter-portion{
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
}

.counter{
    text-align: center;
}

.semi-circle{
    text-align: center;
    width: 45px;
    height: 22.5px;
   
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.semi-circle:hover{
    opacity: 0.7;
}
.plus{  
    line-height: 12px;
    top: 0;
    border-radius: 22.5px 22.5px 0 0;
    background-color: rgba(136, 14, 14, 0.692);
}

.less{
    line-height: 23px;
    top: 22.5px;
    border-radius: 0 0 22.5px 22.5px;
    background-color: rgba(23, 104, 151, 0.671);
}

.center-sheduler{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5,20vw);
    height: calc(100vh - 118px);
    border: 2px dotted black;  
    
}


.modal-select{
    display: none;
    left: 20vw;
    position: absolute;
    width: 20vw;
    height: calc(100vh - 128px);
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    /* background-color: rgb(179, 236, 161); */
}

.modal-color{
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    height: calc(100vh - 128px);
}

.show-modal{
    display: block;
    text-align: center;
}

.lbl-close{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 2em;
    cursor: pointer;
    border: 2px solid rgb(243, 238, 238);
}

.search-bar{
    font-family: 'Anton', sans-serif;
}

.container-meal{
    background-color: white;
    width: 100%;
    height: calc(100vh - 118px);
    border: 1px solid black;
}

.container-meal:focus{
    border-color: rgba(60, 255, 255, 0.76); 
    outline-color:  rgba(60, 255, 255, 0.76);;
    outline-style: solid;
    outline-width: 2px;
}

.lbl-meal{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 1em;
}

.meal{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.portion-box{
    width: 98%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    margin: 2px auto;
    cursor: pointer;
}

.options{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0%;
}

.option{
    line-height: 55px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(97, 93, 93, 0.384);
    text-align: center; 
    cursor: pointer;
    vertical-align: middle;
    
}


.container{
    display: none;
}

.add-field{
    display: block;
    width: 60%;
    height: 40px;
    margin: 5px;
    padding-left: 10px;
    font-size: 1.3em;
    font-family: 'Knewave', cursive;
}

label.add-field{
    display: inline;
}


#txtCant{
    display: inline;
    margin: 5px;
    padding-left: 10px;
    font-size: 1.5em;
}
#content-add{
    width: 70vw;
    height: 40px;
    margin: 5px;
    padding-left: 10px;
    font-size: 1em;

    display: flex;
    flex-direction: column;
}

#content-modify{
    width: 60vw;
}